
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/git"><b>GITHUB</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="margin-left:60%">
        <a class="nav-item nav-link active" routerLink="git" routerLinkActive='active'>HOME<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive='active'>About</a>
        <input type="text" class="form-control" placeholder="username">
        <button class="btn btn-success">search</button>
      </div>
    </div>
  </nav>
